body {
	font-family: Optima, sans-serif;
	font-size: 22px;
	color: white;
	background-color: black;
	text-align: center;
}

a {
	color: white;
}

.flexcontainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


/* Header */
header {
	height: 100px;
	width: 100%;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid white;
	opacity: 1;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	font-size: 30px;
	display: inline-block;
	padding: 20px 10px;
}

header span {
	font-size: 30px;
	display: inline-block;
	padding: 20px 10px;
}

/* Intro */

#intro {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
}

#intro h1 {
	font-size: 60px;
	margin: auto;
	font-family: "Apple Chancery", cursive;
	color: white;
	font-size: 60px;
}

#intro h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	margin: auto;
	color: black;
}

.flexcontainer .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Portfolio Section */

.flexcontainer .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

#gallery h3{
	font-size: 50px;
	border-radius: 20px;
	color: white;
	width: 20%;
	text-align: center;
	margin: auto;
}

image {
	display: block;
	margin: 20px;
	position: relative;
}

.photo img{
	max-width: 300;
	border-radius: 10%;
}


.photo .caption {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 85%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size:30px;
  padding: 30px;
  text-align: center;
}

.photo:hover .caption {
  opacity: 1;
}

.photo:hover .caption {
  opacity: 1;
}

/* Contact Section */
#contact {
	width:100%;
	margin: auto;
	position: relative;
}

#contact img{
	height: 100px;
	width: 100px;
}

/* Footer Section */
footer {
	color: black;
	font-size: 25px;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	background-image: url("Scenery/intro.jpg");
}


/* Column Pictures */
.column img {
	height: 500px;
	width: 700px;
	padding: 20px;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}